In [1]:
import pandas as pd
import numpy as np
import statsmodels.formula.api as smf
from sklearn.model_selection import train_test_split

/usr/local/lib/python3.7/dist-packages/statsmodels/tools/_testing.py:19: FutureWarning: pandas.util.testing is deprecated. Use the functions in the public API at pandas.testing instead.
  import pandas.util.testing as tm

In [2]:
df= pd.read_csv("https://raw.githubusercontent.com/PacktWorkshops/The-Data-Science-Workshop/master/Chapter02/Dataset/Boston.csv")

In [3]:
df

        CRIM   ZN   INDUS   CHAS    NOX  ...  RAD  TAX  PTRATIO  LSTAT  MEDV
0    0.00632  18.0    2.31     0  0.538  ...    1  296     15.3   4.98  24.0
1    0.02731   0.0    7.07     0  0.469  ...    2  242     17.8   9.14  21.6
2    0.02729   0.0    7.07     0  0.469  ...    2  242     17.8   4.03  34.7
3    0.03237   0.0    2.18     0  0.458  ...    3  222     18.7   2.94  33.4
4    0.06905   0.0    2.18     0  0.458  ...    3  222     18.7   5.33  36.2
..       ...   ...     ...   ...    ...  ...  ...  ...      ...    ...   ...
501  0.06263   0.0   11.93     0  0.573  ...    1  273     21.0   9.67  22.4
502  0.04527   0.0   11.93     0  0.573  ...    1  273     21.0   9.08  20.6
503  0.06076   0.0   11.93     0  0.573  ...    1  273     21.0   5.64  23.9
504  0.10959   0.0   11.93     0  0.573  ...    1  273     21.0   6.48  22.0
505  0.04741   0.0   11.93     0  0.573  ...    1  273     21.0   7.88  11.9

[506 rows x 13 columns]

In [4]:
df.dropna()

        CRIM   ZN   INDUS   CHAS    NOX  ...  RAD  TAX  PTRATIO  LSTAT  MEDV
0    0.00632  18.0    2.31     0  0.538  ...    1  296     15.3   4.98  24.0
1    0.02731   0.0    7.07     0  0.469  ...    2  242     17.8   9.14  21.6
2    0.02729   0.0    7.07     0  0.469  ...    2  242     17.8   4.03  34.7
3    0.03237   0.0    2.18     0  0.458  ...    3  222     18.7   2.94  33.4
4    0.06905   0.0    2.18     0  0.458  ...    3  222     18.7   5.33  36.2
..       ...   ...     ...   ...    ...  ...  ...  ...      ...    ...   ...
501  0.06263   0.0   11.93     0  0.573  ...    1  273     21.0   9.67  22.4
502  0.04527   0.0   11.93     0  0.573  ...    1  273     21.0   9.08  20.6
503  0.06076   0.0   11.93     0  0.573  ...    1  273     21.0   5.64  23.9
504  0.10959   0.0   11.93     0  0.573  ...    1  273     21.0   6.48  22.0
505  0.04741   0.0   11.93     0  0.573  ...    1  273     21.0   7.88  11.9

[506 rows x 13 columns]

In [5]:
df=df.dropna()

In [6]:
df=df.drop_duplicates()

In [10]:
newdf= df.rename(columns= {'CRIM':'crimeratepercapita','ZN':'landover25k_dqft','INDUS' :'non-retaillandproptn' , 'CHAS':'riverdummy', 'NOX':'nitricoxide',
                           'RM':'avgnoroomsperdwelling' , 'AGE':'proptnowneroccupied' , 'DIS':'weighteddist' , 'RAD':'radialhighwayaccess' , 'TAX':'proptaxrate', 'PTRATIO':'pupilteacherratio' , 'LSTAT':'pctlowerstatus' , 'MEDV':'medianvalue_ks'})

In [11]:
newdf

     crimeratepercapita   ZN   ...  pctlowerstatus  medianvalue_ks
0               0.00632  18.0  ...            4.98            24.0
1               0.02731   0.0  ...            9.14            21.6
2               0.02729   0.0  ...            4.03            34.7
3               0.03237   0.0  ...            2.94            33.4
4               0.06905   0.0  ...            5.33            36.2
..                  ...   ...  ...             ...             ...
501             0.06263   0.0  ...            9.67            22.4
502             0.04527   0.0  ...            9.08            20.6
503             0.06076   0.0  ...            5.64            23.9
504             0.10959   0.0  ...            6.48            22.0
505             0.04741   0.0  ...            7.88            11.9

[506 rows x 13 columns]

In [12]:
x= newdf.drop('crimeratepercapita', axis=1)
y=newdf[['crimeratepercapita']]
seed=10
test_data_size= 0.3
x_train ,x_test, y_train, y_test= train_test_split(x,y,test_size=test_data_size, random_state=seed)

In [13]:
train_data= pd.concat([x_train,y_train] , axis=1)
test_data= pd.concat([x_test, y_test], axis=1)

In [14]:
linearmodel= smf.ols(formula='np.log(crimeratepercapita) ~ medianvalue_ks', data=train_data)

In [16]:
loglinearresult = linearmodel.fit()

In [18]:
print (loglinearresult.summary())

                                OLS Regression Results
======================================================================================
Dep. Variable:     np.log(crimeratepercapita)   R-squared:                       0.238
Model:                                    OLS   Adj. R-squared:                  0.236
Method:                         Least Squares   F-statistic:                     109.9
Date:                        Mon, 19 Jul 2021   Prob (F-statistic):           1.48e-22
Time:                                15:29:02   Log-Likelihood:                -727.67
No. Observations:                         354   AIC:                             1459.
Df Residuals:                             352   BIC:                             1467.
Df Model:                                   1
Covariance Type:                    nonrobust
==================================================================================
                     coef    std err          t      P>|t|      [0.025      0.975]
----------------------------------------------------------------------------------
Intercept          1.9107      0.271      7.062      0.000       1.379       2.443
medianvalue_ks    -0.1198      0.011    -10.482      0.000      -0.142      -0.097
==============================================================================
Omnibus:                       11.420   Durbin-Watson:                   1.907
Prob(Omnibus):                  0.003   Jarque-Bera (JB):               10.764
Skew:                           0.376   Prob(JB):                      0.00460
Kurtosis:                       2.594   Cond. No.                         63.7
==============================================================================

Warnings:
[1] Standard Errors assume that the covariance matrix of the errors is correctly specified.