In [1]:
import pandas as pd
import numpy as np
import statsmodels.formula.api as smf
from sklearn.model_selection import train_test_split

/usr/local/lib/python3.7/dist-packages/statsmodels/tools/_testing.py:19: FutureWarning: pandas.util.testing is deprecated. Use the functions in the public API at pandas.testing instead.
  import pandas.util.testing as tm

In [2]:
df= pd.read_csv("https://raw.githubusercontent.com/PacktWorkshops/The-Data-Science-Workshop/master/Chapter02/Dataset/Boston.csv")

In [3]:
df

        CRIM   ZN   INDUS   CHAS    NOX  ...  RAD  TAX  PTRATIO  LSTAT  MEDV
0    0.00632  18.0    2.31     0  0.538  ...    1  296     15.3   4.98  24.0
1    0.02731   0.0    7.07     0  0.469  ...    2  242     17.8   9.14  21.6
2    0.02729   0.0    7.07     0  0.469  ...    2  242     17.8   4.03  34.7
3    0.03237   0.0    2.18     0  0.458  ...    3  222     18.7   2.94  33.4
4    0.06905   0.0    2.18     0  0.458  ...    3  222     18.7   5.33  36.2
..       ...   ...     ...   ...    ...  ...  ...  ...      ...    ...   ...
501  0.06263   0.0   11.93     0  0.573  ...    1  273     21.0   9.67  22.4
502  0.04527   0.0   11.93     0  0.573  ...    1  273     21.0   9.08  20.6
503  0.06076   0.0   11.93     0  0.573  ...    1  273     21.0   5.64  23.9
504  0.10959   0.0   11.93     0  0.573  ...    1  273     21.0   6.48  22.0
505  0.04741   0.0   11.93     0  0.573  ...    1  273     21.0   7.88  11.9

[506 rows x 13 columns]

In [4]:
df.dropna()

        CRIM   ZN   INDUS   CHAS    NOX  ...  RAD  TAX  PTRATIO  LSTAT  MEDV
0    0.00632  18.0    2.31     0  0.538  ...    1  296     15.3   4.98  24.0
1    0.02731   0.0    7.07     0  0.469  ...    2  242     17.8   9.14  21.6
2    0.02729   0.0    7.07     0  0.469  ...    2  242     17.8   4.03  34.7
3    0.03237   0.0    2.18     0  0.458  ...    3  222     18.7   2.94  33.4
4    0.06905   0.0    2.18     0  0.458  ...    3  222     18.7   5.33  36.2
..       ...   ...     ...   ...    ...  ...  ...  ...      ...    ...   ...
501  0.06263   0.0   11.93     0  0.573  ...    1  273     21.0   9.67  22.4
502  0.04527   0.0   11.93     0  0.573  ...    1  273     21.0   9.08  20.6
503  0.06076   0.0   11.93     0  0.573  ...    1  273     21.0   5.64  23.9
504  0.10959   0.0   11.93     0  0.573  ...    1  273     21.0   6.48  22.0
505  0.04741   0.0   11.93     0  0.573  ...    1  273     21.0   7.88  11.9

[506 rows x 13 columns]

In [5]:
df=df.dropna()

In [6]:
df=df.drop_duplicates()

In [7]:
newdf= df.rename(columns= {'CRIM':'crimeratepercapita','ZN':'landover25k_dqft','INDUS' :'non-retaillandproptn' , 'CHAS':'riverdummy', 'NOX':'nitricoxide',
                           'RM':'avgnoroomsperdwelling' , 'AGE':'proptnowneroccupied' , 'DIS':'weighteddist' , 'RAD':'radialhighwayaccess' , 'TAX':'proptaxrate', 'PTRATIO':'pupilteacherratio' , 'LSTAT':'pctlowerstatus' , 'MEDV':'medianvalue_ks'})

In [8]:
newdf

     crimeratepercapita   ZN   ...  pctlowerstatus  medianvalue_ks
0               0.00632  18.0  ...            4.98            24.0
1               0.02731   0.0  ...            9.14            21.6
2               0.02729   0.0  ...            4.03            34.7
3               0.03237   0.0  ...            2.94            33.4
4               0.06905   0.0  ...            5.33            36.2
..                  ...   ...  ...             ...             ...
501             0.06263   0.0  ...            9.67            22.4
502             0.04527   0.0  ...            9.08            20.6
503             0.06076   0.0  ...            5.64            23.9
504             0.10959   0.0  ...            6.48            22.0
505             0.04741   0.0  ...            7.88            11.9

[506 rows x 13 columns]

In [9]:
x= newdf.drop('crimeratepercapita', axis=1)
y=newdf[['crimeratepercapita']]
seed=10
test_data_size= 0.3
x_train ,x_test, y_train, y_test= train_test_split(x,y,test_size=test_data_size, random_state=seed)

In [10]:
train_data= pd.concat([x_train,y_train] , axis=1)
test_data= pd.concat([x_test, y_test], axis=1)

In [13]:
multilinearmodel = smf.ols(formula='np.log(crimeratepercapita) ~ (pctlowerstatus + radialhighwayaccess + medianvalue_ks + nitricoxide)**2' , data=train_data)

In [16]:
multiloglinear= multilinearmodel.fit()

In [17]:
print(multiloglinear.summary())

                                OLS Regression Results
======================================================================================
Dep. Variable:     np.log(crimeratepercapita)   R-squared:                       0.884
Model:                                    OLS   Adj. R-squared:                  0.881
Method:                         Least Squares   F-statistic:                     261.5
Date:                        Mon, 19 Jul 2021   Prob (F-statistic):          7.79e-154
Time:                                15:50:25   Log-Likelihood:                -394.39
No. Observations:                         354   AIC:                             810.8
Df Residuals:                             343   BIC:                             853.3
Df Model:                                  10
Covariance Type:                    nonrobust
======================================================================================================
                                         coef    std err          t      P>|t|      [0.025      0.975]
------------------------------------------------------------------------------------------------------
Intercept                             -5.4707      1.490     -3.671      0.000      -8.402      -2.540
pctlowerstatus                         0.1541      0.049      3.161      0.002       0.058       0.250
radialhighwayaccess                    0.4697      0.052      9.070      0.000       0.368       0.572
medianvalue_ks                        -0.1457      0.044     -3.325      0.001      -0.232      -0.059
nitricoxide                            3.4509      3.000      1.150      0.251      -2.450       9.352
pctlowerstatus:radialhighwayaccess    -0.0006      0.001     -0.576      0.565      -0.003       0.002
pctlowerstatus:medianvalue_ks         -0.0041      0.001     -4.159      0.000      -0.006      -0.002
pctlowerstatus:nitricoxide            -0.0783      0.081     -0.964      0.336      -0.238       0.082
radialhighwayaccess:medianvalue_ks    -0.0027      0.001     -2.694      0.007      -0.005      -0.001
radialhighwayaccess:nitricoxide       -0.4234      0.066     -6.404      0.000      -0.553      -0.293
medianvalue_ks:nitricoxide             0.3552      0.092      3.869      0.000       0.175       0.536
==============================================================================
Omnibus:                        4.124   Durbin-Watson:                   1.966
Prob(Omnibus):                  0.127   Jarque-Bera (JB):                4.107
Skew:                           0.175   Prob(JB):                        0.128
Kurtosis:                       3.395   Cond. No.                     3.29e+04
==============================================================================

Warnings:
[1] Standard Errors assume that the covariance matrix of the errors is correctly specified.
[2] The condition number is large, 3.29e+04. This might indicate that there are
strong multicollinearity or other numerical problems.